@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}



/* header */


.menu {
    background-image: -webkit-linear-gradient(105deg, rgb(37, 34, 179) 39%, rgba(51,56,57,1) 96%);
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
    
}

.menu_i {
    list-style: none;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    
}

.menu_item {
}

.menu_item a {
    color: white;
    text-decoration: none;
    padding: .1rem;
    border-width: .01rem; 
    border-style: solid;
    border-color: white;
    border-bottom: 0;
    
}

.menu_item a:hover {
    color: rgb(152, 222, 240);
    transition: .05s;
}

.logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    padding-right: 1rem;
    
}

.logor {
    width: 1.1rem;
}

.logor:hover {
    filter: brightness(150%);
    transition: .05s;
}

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

.logotr {
    width: 13rem;
    position: absolute;
    left: 32rem;
    top: .5rem;
}




/* Inicio */


.carousel-inner {
    height: 15rem;
    width: 100%;
}


.fondoi {
    background-image: url(../img/fondoinicio.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    color: rgb(253, 195, 5);
}

.fondoi h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    
}

.texto1 {
    padding-left: 3rem;
    padding-top: 3rem;
}

.texto2 {
    padding-left: 3rem;
}

.card_inicio {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 11rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.card_inicio h5 {
    font-weight: bold;
}

.card {
    width: 100%;
}

.calidad {
    padding: .5rem;
    background-color: green; 
    width: 15rem;
    }

.puntualidad {
    padding: .5rem;
    background-color: orange; 
    width: 15rem;
    
}

.envios {
    padding: .5rem;
    background-color: red; 
    width: 15rem;
    
}

.card_img {
    padding-left: 2.5rem;
    display: flex;
    width: 100%;


}
.troquei {
    width: 50%;
    padding-left: 8rem;
    padding-top: 4rem;
}



/* footer */


.contactoi {
    background-image: -webkit-linear-gradient(105deg, rgb(37, 34, 179) 39%, rgba(51,56,57,1) 96%);
    padding-top: 7rem;
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto {
    list-style: none;
    margin-left: 5rem;
    line-height: 2rem;
}

.cont {
    margin: 1rem;
}

.imgcont {
    position: absolute;
    left: 5rem;
    top: 75.9rem;
}

.imgl {
    width: 1rem;
    position: absolute;
    left: -1.5rem;
    top: -5.3rem;
}
.imgt {
    width: 1rem;
    position: absolute;
    left: -1.5rem;
    top: -3.1rem;
}
.imgm {
    width: 1.5rem;
    position: absolute;
    left: -1.6rem;
    top: -1.3rem;
}
.imgh {
    width: 1.2rem;
    position: absolute;
    left: -1.5rem;
    top: 0.8rem;
}

.nuestros_clientes {
    padding-right: 1rem;
}

.img_clientes {
   margin-left: 3rem; 
   padding-top: 1rem;
   display: flex;
   gap: 1rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}
    

.img {
    width: 2rem;
}



/* quienes somos */

.main {
    background-color: rgb(178, 214, 250);
    height: 110vh;
}


.quienes_somos {
    padding-top: 3rem;
    padding-left: 4.3rem;
    display: flex;
    flex-direction: column;
    
}

.quisom {
    color: black;
    padding-bottom: 1rem;
    
}

.texto {
    color: rgb(253, 195, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    padding-left: 3rem;
    padding-top: .5rem;
    -webkit-text-stroke: .03rem black
    
}

.historia_card {
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.historias {
    background-color: rgb(158, 186, 236); 
    width: 18rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
   
}

.troquei {
    width: 30rem;
    margin-bottom: 1rem;
       
}   

.imgcont_quienes_somos {
    top: 62.8rem;
    
}



/* productos */

.main_productos {
    height: 185vh;
}

.productos {
    padding-top: 3.5rem;
    margin-left: 3.5rem;
}


.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 9.5rem;
    
}


.producto {
    background-color: rgb(158, 186, 236);
    padding: 2rem;
    width: 15rem;
    height: 30rem;
    border-radius: 1rem;
    display: inline-block; 
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
    
}

.item {
    margin-left: 1rem;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}

.img_productos {
    width: 100%;
    
}

.producto1_boton {
    background-color: rgb(67, 67, 240);
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.producto1_titulo{
    font-size: 18px;
}

.producto1_parrafo {
    font-size: 14px;
}

.imgcont_productos {
    top: 93.6rem;
}




/* Procesos y servicios */

.main_procesos {
    height: 143vh;
}

.ul_procesos {
    width: 35rem;
    height: 10rem;
    margin-left: 25%;
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 2rem;
    background-color: rgb(158, 186, 236);
    border-radius: 1rem;
}

.titulo2_procesos {
    top:27rem;
    margin: 5rem;
    font-size: 1.2rem;
}

.img_pegadora {
    width: 30rem;
    margin: 8rem;
    position: absolute;
    top: 28rem;
}

.img_troqueladora1 {
    width: 14rem;
    margin: 8rem;
    position: absolute;
    top: 28rem;
    left: 32.1rem;
}

.img_troqueladora2 {
    width: 17.2rem;
    margin: 8rem;
    position: absolute;
    top: 28rem;
    left: 48.2rem;
}

.img_materiales {
    width: 15rem;
    margin: 8rem;
    position: absolute;
    top: 43rem;
    left: 15rem;
}

.img_fabrica {
    width: 23.6rem;
    margin: 8rem;
    position: absolute;
    top: 43rem;
    left: 32rem;

}

.imgcont_procesos {
    top: 76.4rem;
}



/* contacto */

.contacto_pa{
    padding: 3rem;
}

.contacto_c {
    font-size: 1.2rem;
    background-color: rgb(158, 186, 236);
    position: absolute;
    list-style: none;
    margin-left: 7rem;
    top: 9rem;
    line-height: 5rem;
}

.img_l_c,
.img_t_c,
.img_m_c,
.img_h_c {
    width: 2rem;
    position: absolute;
    margin: 13rem;
    top: 9rem;
}
 .img_t_c {
    top: 14.5rem;
 }

 .img_m_c{
    width: 2.7rem;
    top: 19rem;
 }

 .img_h_c {
    top: 24.5rem;
 }

 .cuadrado_contacto {
    width: 25rem;
    height: 27rem;
    background-color: rgb(158, 186, 236);
    position: absolute;
    margin-left: 7rem;
    top: 17.3rem;
 }

 .registro {
    width: 16rem;
    position: absolute;
    
  
 }

.nombre {
    margin: 50%;
    top: -16.6rem;
    
}

.telefono {
    margin:50%;
    top: -11.7rem;
}

.mail {
    margin: 50%;
    top: -6.7rem;
}

.comentario {
    margin: 75%;
    top: -36.3rem;
    height: 11.1rem;
}

.boton {
    position: absolute;
    margin: 50%;
    top: -1.6rem;
}

.cuadrado_contacto2 {
    width: 39.5rem;
    height: 27rem;
    background-color: rgb(158, 186, 236);
    position: absolute;
    margin-left: 48%;
    top: 17.3rem;
}

.formulario {
    position: absolute;
    margin: 50%;
    top: -20rem;

  

}


.imgcont_contacto{
    top: 62.8rem;
    
}


