.menuPagheader {
    padding-left: 3rem;
   
}

.menuiPagheader {
    padding-top: .28rem;
}



.logosPagheader {
    padding-right: 3rem;
    padding-top: .78rem;

}

.main-contacto {
    height: 120vh;

    @include MQ1050 {
        height: 80vh;
    }

    .wpp {
        @extend %whatsapp; 
    }

    .contacto-h3 {
        font-size: 1.5rem;
        padding-top: 4rem;
    }

    .contacto-formulario {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        margin-left: 5rem;
        gap: 5rem;
        -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @include MQ1000 {
            padding-top: 4rem;
        }

        .contacto-img-main {
            background-color: rgb(158, 186, 236);
            display: flex;
            align-items: center;
            justify-content: end;
            gap: -3rem;
            padding: 1rem;
            border-radius: 1rem;
            
            

            .contacto_c {
                font-size: 1rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 2.6rem;

                .contacto_pa{
                    padding: 3rem;
                }
            }

            .img-contacto-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.9rem;
                order: -1;

                .img_l_c,
                .img_t_c,
                .img_m_c,
                .img_h_c {
                   width: 1.4rem;
                }
 
                .img_m_c{
                    width: 2.3rem;
                }
            }
        }

        .formulario-section {
            background-color: rgb(158, 186, 236);
            padding: 1rem;
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.8rem;
            border-radius: 1rem;
            
           

            .formulario-contacto {
                display: flex;
                gap: 1rem;

                .formulario-completar {
                    height: 3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .comentario {
                    height: 7.6rem;
                }
            }

            .boton {
                padding: .3rem;
            }
            
        }
    }
}





 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  


