.menuPagheader {
    padding-left: 3rem;
   
}

.menuiPagheader {
    padding-top: .28rem;
}



.logosPagheader {
    padding-right: 3rem;
    padding-top: .78rem;

}

.main-contacto {
    height: 100%;
    padding-bottom: 4rem;

    

    .wpp {
        @extend %whatsapp; 
    }

    .contacto-h3 {
        font-size: 1.5rem;
        padding-top: 4rem;
    }

    .contacto-formulario {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        margin-left: 5rem;
        gap: 5rem;
        -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


        @include MQ1000 {
           flex-direction: column;
           justify-content: center;
           align-items: center;
           
        }

        .contacto-img-main {
            background-color: rgb(158, 186, 236);
            display: flex;
            align-items: center;
            justify-content: end;
            gap: -3rem;
            padding: 1rem;
            padding-right: 0;
            border-radius: 1rem;

            @include MQ1000 {
                width: 90%;
                justify-content: center;
                
            }

                        
                
            

            .contacto_c {
                font-size: 1rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 2.6rem;

            

                .contacto_pa{
                    padding: 3rem;
                }

                @include MQ440 {
                    font-size: .8rem;
                    padding-right: 2rem;
                    
                }


                
            }

            .img-contacto-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.9rem;
                order: -1;

                @include MQ440 {
                    gap: 2.1rem;
                    margin-left: 4rem;
                }

                .img_l_c,
                .img_t_c,
                .img_m_c,
                .img_h_c {
                   width: 1.4rem;

                   @include MQ440 {
                    width: 1.3rem;
                }
                }

                
 
                .img_m_c{
                    width: 2.3rem;

                    @include MQ440 {
                        width: 1.9rem;
                    }
                }
            }
        }

        .formulario-section {
            background-color: rgb(158, 186, 236);
            padding: 1rem;
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.8rem;
            border-radius: 1rem;

            @include MQ1000 {
                width: 90%;
                margin: 0;
                justify-content: center;
            }

            
            
           

            .formulario-contacto {
                display: flex;
                gap: 1rem;

                @include MQ575 {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 7rem;
                    
                   
                }

                
                .formulario-completar {
                    height: 3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    @include MQ1000 {
                        width: 17rem;
                    }

                    @include MQ600 {
                        width: 15rem;
                    }

                    @include MQ575 {
                        width: 10rem;
                    }
                }

                .comentario {
                    height: 7.6rem;
                    resize:none;
	                white-space: clip;
                }
            }

            .boton {
                padding: .3rem;
            }
            
        }
    }
}





 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  


