
.header {
    background-image: -webkit-linear-gradient(105deg, rgb(37, 34, 179) 39%, rgba(51,56,57,1) 96%);
    height: 8rem;

    @include MQ780 {
        height: 9rem;
    }

    @include MQ400 {
       height: 7rem;
    }


    .container {  
    padding-top: .8rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:  
            "logo  .  ."
            "menu  .   redes"
    ;
    }  

    .menu {
        grid-area: menu;

        input#abrir-cerrar { 
            visibility:hidden;
            position: absolute;
            top: -9999px;
            
            }
        
        .toggle-button {
            display:block;
            width:2rem;
            height:2rem;
            border:1px solid white;
            position:relative;
            cursor: pointer;
            box-sizing: border-box;
            margin-left: 1rem;
            display: none;

            &:hover {
                color: rgb(152, 222, 240);
                transition: .05s;
            }

            @include MQ780 {
                display: block;
                width: 1.3rem;
                height: 1.3rem;
                margin-top: 1.4rem;
            }

            @include MQ575 {
                width: 18px;
                height: 18px;
                
                
            }

            @include MQ400 {
                width: 18px;
                height: 18px;
                margin-top: 0;
            }

            
        }

        #abrir-cerrar:checked ~ .menu_i{
            @include MQ780 {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
        }

        .toggle-button:before, .toggle-button:after {
            position:absolute;
            display:block;
            content:" ";
            width: calc(100% / 2);               
            box-sizing: border-box;
            left: calc(100% / 4);
            transition: all 0.2s ease-out;
        }
        .toggle-button:before {
            top: calc(100% / 4);
            height:calc(100% / 4);
            border-top:1px solid white;
            border-bottom:1px solid white;
            background-color: transparent;
        }
    
        .toggle-button:after {
            height:1px;
            background-color:white;
            bottom:calc(100% / 4);
            

        }

        input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
            top:calc(100% / 2);
            height:1px;
            border-bottom:0;
            
        }
    
        input#abrir-cerrar:checked + .toggle-button:before {
            transform: rotate(45deg); 
        }
    
        input#abrir-cerrar:checked + .toggle-button:after {
            transform: rotate(-45deg);
        }

        .abrir, .cerrar { 
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            text-indent: -9999px;
        }
    
        .abrir {
            display:block;
        }
    
        .cerrar {
            display:none;
        }
    
        input#abrir-cerrar:checked + .toggle-button .abrir {
            display:none;
        }
    
        input#abrir-cerrar:checked + .toggle-button .cerrar {
            display:block;
        }

        
               
                
        .menu_i {
            list-style: none;
            padding: .5rem;
            display: flex;
            gap: 1rem;

            @include MQ1000 {
                padding: 0;
                padding-top: .4rem;
                grid-template-areas:  
                "logo  .  ."
                "menu  menu   redes"
    ;

            } 


            @include MQ780 {
                position: absolute;
                background-image: -webkit-linear-gradient(105deg, rgb(37, 34, 179) 39%, rgba(51,56,57,1) 96%);
                width: 80%;
                height: 5%;
                transform: translateY(-100%);
                visibility: hidden;
                opacity: 0;
                transition: .2s;
                margin-left: 1rem;
                padding-right: 2rem;
                align-items: center;
                justify-content: center;
            }

                       


            .menu_item {

                
                a {
                    grid-area: menu;
                    font-size: .95rem;
                    color: white;
                    text-decoration: none;
                    padding: .1rem;
                    border-width: .01rem; 
                    border-style: solid;
                    border-color: white;
                    border-bottom: 0;
    
                    &:hover {
                        color: rgb(152, 222, 240);
                        transition: .05s;
                    }

                    @include MQ1000 {
                        font-size: .76rem;
                    }

                    @include MQ780 {
                        font-size: .6rem;
                    }

                    @include MQ480 {
                        font-size: .5rem;
                    }

                    @include MQ420 {
                        font-size: .4rem;
                    }

                    @include MQ390 {
                        font-size: .3rem;
                        height: 5%;
                    }

                }
            }
        }
    }

    .logotr {
        grid-area: logo;
        justify-self: flex-end;
        width: 11rem;

       
        @include MQ400 {
            width: 8rem;
            padding-bottom: 1rem;
        }
    }

    .logotrPagHeader {

        @include MQ780 {
            justify-self: flex-start;
            padding-left: 1rem;
        }

    }

    .logos {
        grid-area: redes;
        display: flex;
        gap: 1rem;
        justify-self: flex-end;
        align-items: center;
        justify-content: start;
        padding-bottom: .8rem;

        .logor {
            width: 1.1rem;

            @include MQ400 {
                width: .9rem;
            }

            &:hover {
                filter: brightness(150%);
                transition: .05s;
            }
        }

        @include MQ780 {
            margin-top: 1.5rem;
            padding-left: 3rem;
        }

        @include MQ400 {
            margin-top: .2rem;

            
        }
    }

    .logosPagheader {
        @include MQ780 {
            margin-top: .8rem;
            padding-right: 1rem;
        }

        @include MQ600 {
            margin-top: 5.7rem;
            position: absolute;
        }
        @include MQ400 {
            margin-top: 4.2rem;

            
        }
    }

      

    .menuPagheader {
        @include MQ575 {
            margin-left: 0;
            padding-left: 0;
            justify-self: end;
            
        }

    }
        
    

}







